* {
	box-sizing: border-box;
	margin: 0;

}

body {
	font-size: 1em;
	font-family: "Arial", "Helvetica", sans-serif;
}

div.menuItem {
	border-style: solid;
	border-width: 1px;
	background-color: #e2e2e2;
	padding: 40px 16px 8px 16px;
	position: relative;
	margin: 16px;
	height: 100%;

}

h1 {
	font-size: 1.75em;
	text-align: center;
	margin-top: 40px;
	margin-bottom: 40px;
}

h2  {
	font-size: 1.25em;
	background-color: #00aaaaaa;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	text-align: center;
	width: 200px;
	max-width: 100%;
	position: absolute;
	top: -1px;
	right: -1px;

}

p {
	position: relative;
	
}

#chicken {
	color: #ffffff;
	background-color: #aa0000ff;
}

#beef {
	color: #ffffff;
	background-color: #00aa00ff;
}

#sushi {
	color: #ffffff;
	background-color: #0000aaff;

}

.row {
	width: 100%;
	padding-left: 16px;
	padding-right: 16px;
}

@media (min-width: 992px) {
	.col-lg-3, .col-lg-4, .col-lg-6, .col-lg-12 {
		float: left;

	}
	
	.col-lg-3 {
		width: 25%
	}

.col-lg-4 {
		width: 33.33%
	}

	.col-lg-6 {
		width: 50%
	}

	.col-lg-9 {
		width: 75%
	}

	.col-lg-12 {
		width: 100%
	}
}

@media (max-width: 991px) and (min-width: 768px) {
	.col-md-3, .col-md-4, .col-md-6, .col-md-9, .col-md-12 {
		float: left;
	}
	
	.col-md-3 {
		width: 25%
	}

	.col-md-4 {
		width: 33.33%
	}

	.col-md-6 {
		width: 50%
	}

	.col-md-9 {
		width: 75%
	}

	.col-md-12 {
		width: 100%
	}

}

@media (min-width: 1px) {

	.col-sm-3, .col-sm-4, .col-sm-6, .col-sm-9, .col-sm-12, {
		float: left;
	}
	
	.col-sm-3 {
		width: 25%
	}

	.col-sm-4 {
		width: 33.33%
	}

	.col-sm-6 {
		width: 50%
	}

	.col-sm-9 {
		width: 75%
	}

	.col-sm-12 {
		width: 100%
	}

}
.container {
	background-color: red;
}

.title {
	border: 2px; 
	border-color: #000000;
	background-color: #0000ff40
}